<% provide(:title, @vendor.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>

        <li>
        	Vendor Name: <%= @vendor.name %>
        </li>        
          
          <br>
          Item Name: <%= @item.name %>
          <br>
          Item Price: <%= @item.price%>

      </h1>
    </section>
  </aside>
</div>